<domain type='kvm' xmlns:qemu="http://libvirt.org/schemas/domain/qemu/1.0">

  <name>{{ vm_name }}</name>

  <memory unit='GB'>{{ node.vm_memory }}</memory>
  <vcpu placement='static'>2</vcpu>

  <resource>

    <partition>/machine</partition>
  </resource>

  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
    <boot dev='hd'/>
  </os>

  <features>
    <acpi/>
    <apic/>
    <pae/>
  </features>

  <clock offset='utc'/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>

  <devices>
    {% if ansible_distribution == "CentOS" %}
    <emulator>/usr/libexec/qemu-kvm</emulator>
    {% endif %}
    {% if ansible_distribution == "Fedora" %}
    <emulator>/usr/bin/qemu-kvm</emulator>
    {% endif %}

    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      {% if snapshot_path is defined %}
      <source file='{{ snapshot_path }}' />
      {% else %}
      <source file='{{ netlab_virt_vm_path }}/{{ vm_name }}/{{ node.vm_disk }}'/>
      {% endif %}
      <target dev='hda' bus='ide'/>
      <address type='drive' controller='0' bus='0' target='0' unit='0'/>
    </disk>

    <interface type='network'>
      <mac address='{{ node.mac_address }}'/>
      <source network="cluster" bridge='{{ node.netlab_mgmt_source_bridge }}'/>
      <model type='virtio'/>
      <target dev='vnet1' />
      <alias name='net0' />
      <address type='pci' domain='0x0000' bus='0x00' slot='0x03' function='0x0'/>
    </interface>

    {% if node.physical_bridge is defined %}
    <interface type='bridge'>
      <source bridge='{{ node.physical_bridge }}' />
    </interface>
    {% endif %}

    {% for link in node.connections | default([]) %}
    {% if link.type | default('udp') == 'udp' %}
    <interface type='udp'>
      <source address='127.0.0.1' port='{{ link.s_port }}'>
        <local address='127.0.0.1' port='{{ link.d_port }}'/>
      </source>
      <model type='virtio'/>
    </interface>
    {% endif %}
    {% endfor %}

    <serial type='pty'>
      <source path='/dev/pts/3'/>
      <alias name='serial0'/>
    </serial>
    <console type='pty' tty='/dev/pts/3'>
      <source path='/dev/pts/3'/>
      <target type='serial' port='0'/>
      <alias name='serial0'/>
    </console>
    <graphics type='vnc' port='{{ node.vnc_port }}' listen='0.0.0.0' />

  </devices>

  {% if node.ignition_name and snapshot_path is not defined %}
  <qemu:commandline>
    <qemu:arg value="-fw_cfg"/>
    <qemu:arg value="name=opt/com.coreos/config,file={{ lookup('env', 'IGNITION_PATH') }}/{{ node.ignition_name }}"/>
  </qemu:commandline>
  {% endif %}

</domain>
