{
  "ignition": {
    "config": {},
    "security": {},
    "timeouts": {},
    "version": "2.2.0"
  },
  "networkd": {},
  "passwd": {
    "users": [
      {
        "name": "core",
        "sshAuthorizedKeys": [
          "{{ core_pubkey }}"
        ]
      }
    ]
  },
  "storage": {},
  "systemd": {}
}
